{% extends 'week3/base.html' %}

{% block content %}
  <main class="container mt-3 pb-5">
  {% if pk == mycompany.id %}
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills">
            <a class="nav-link active" href="{% url 'mycompany_edit' mycompany.id %}">1. Информация о&nbsp;компании</a>
            <a class="nav-link" href="{% url 'my_company_vacancies' %}">2. Вакансии</a>
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Информация о&nbsp;компании</h2>
              <form enctype="multipart/form-data">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="{{ form.name.id_for_label }}">{{ form.name.label}}</label>
                      {{form.name}}
                    </div>
                      <div class="form-error">{{ form.name.errors }}</div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label class="mb-2 text-dark" for="{{ form.logo.id_for_label }}">{{ form.logo.label }}</label>
                      <div class="row align-items-center">
                        <div class="col-6">
                          <img src="https://place-hold.it/120x40" alt="" style="max-width: 120px;height: auto;">
                        </div>
                        <div class="col-6" style="position: relative;">
                          <div class="input-group-prepend" style="position: absolute; top: 0;right: 15px;">
                            <span class="btn btn-info px-4">Загрузить</span>
                          </div>
                          <div class="custom-file" style="">
                              {{form.logo}}
                          </div>
                        </div>
                          <div class="form-error">{{ form.logo.errors }}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="{{ form.employee_count.id_for_label }}">{{ form.employee_count.label }}</label>
                      {{ form.employee_count }}
                    </div>
                      <div class="form-error">{{ form.employee_count.errors }}</div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="{{ form.location.id_for_label }}">{{ form.location.label }}</label>
                       {{ form.location }}
                    </div>
                      <div class="form-error">{{ form.location.errors }}</div>
                  </div>
                </div>
                <div class="form-group pb-2">
                  <label class="mb-2 text-dark" for="{{ form.description.id_for_label }}">{{ form.description.label }}и</label>
                  {{ form.description }}
                </div>
                  <div class="form-error">{{ form.description.errors }}</div>
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  {% else %}

  <div class="text-center mt-5 b-1">
            <h1 class="h3 mb-3 font-weight-normal">Джуманджи</h1>
        <h2 class="h3 mb-3 font-weight-normal">Forbidden</h2>

          </div>
  {% endif %}
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
